streamlit
langchain-community
streamlit-option-menu
langchain
langchain-groq
python-dotenv
BeautifulSoup4
langchain_cohere
chromadb
duckduckgo-search
selenium
# webdriver-manager
playwright
# playwright install
lxml